<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a
    class="navbar-brand"
    [title]="'students'"
    [routerLink]="['/students']">
      <h1>SMS</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
          class="nav-link active"
          aria-current="page"
          [title]="'students'"
          [routerLink]="['/students']">
           Home
          </a>
        </li>
        <li class="nav-item">
          <a
          class="nav-link"
          [title]="'Register'"
          [routerLink]="['/register']">
          Register
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [title]="'Login'" [routerLink]="['/login']">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
